<ng-template #appLoadingUi="appLoadingUi" appLoadingUi [blockPage]="true"></ng-template>
<div class="content-title d-flex">
	<div class="flex-fill">
		<p class="title-text">Weather forecast</p>
	</div>
</div>
<div class="d-flex flex-column gap-3">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Check weather forecast by city name</h4>
			<h6 class="card-subtitle mb-2 text-muted">Search by city</h6>
			<form [formGroup]="form" autocomplete="off">
				<div class="row gy-3">
					<div class="col-lg-10 col-sm-12">
						<input id="search-city" formControlName="locationName" type="text" class="form-control"
							placeholder="City name">
					</div>
					<div class="col-lg-2 col-sm-12">
						<button type="button" class="btn btn-primary col-12" (click)="search()">Search</button>
					</div>

					<!-- country code options with state. we could separate the state to its own dropdown, but the city name is not unique across state -->
					<div class="col-lg-12" *ngIf="geocodingDropdownViewModel.length">
						<label for="country-code" class="form-label text-muted">Country code and state</label>
						<select id="country-code" class="form-select" formControlName="id">
							<option [value]="''" selected disabled>Select country code and state</option>
							<ng-container *ngFor="let i of geocodingDropdownViewModel">
								<option *ngIf="i.state" [value]="i.id">{{i.country}} - {{i.state}}</option>
								<option *ngIf="!i.state" [value]="i.id">{{i.country}}</option>
							</ng-container>
						</select>
					</div>

					<div class="ml-4">
						<div class="form-check form-switch">
							<input
								class="form-check-input"
								type="checkbox"
								role="switch"
								id="temperature-toggler"
								checked [(ngModel)]="useMetricUnit"
								[ngModelOptions]="{standalone: true}"
								(ngModelChange)="resetFilters()"
								name="isMetricUnitUsed">
							<label class="form-check-label" for="temperature-toggler">Display temperature in metric</label>
						  </div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="weather-result" *ngIf="locationWeatherForecast$ |async as forecast">
		<ng-container *ngIf="forecast">
			<div class="card flex-row" *ngFor="let weather of forecast.weather">
				<img class="card-img-left object-fit-cover" src="https://openweathermap.org/img/wn/{{weather.icon}}@2x.png" />
				<div class="card-body position-relative">
					<h4 class="card-title h5 h4-sm">{{weather.description|uppercase}}</h4>
					<span class="badge bg-info position-absolute top-0 end-0 m-1">current</span>

					<div class="weather-info">
						<span class="badge bg-primary">{{forecast.main.temp}} &deg;C</span>
						<span> temperature from {{forecast.main.temp_min}} &deg;{{temperatureUnit}} to {{forecast.main.temp_min}} &deg;{{temperatureUnit}}, wind {{forecast.wind.speed}} m/s. clouds {{forecast.clouds.all}} %, huidity {{forecast.main.humidity}} %, {{forecast.main.pressure}} hpa.</span>
					</div>
				</div>
			</div>
		</ng-container>
	</div>

</div>
