
$darkGreen: #092d17;
$bgColor: white;
$themeColor:#56CC9D;
$navWidth:310px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 300px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
