@import './../../../../assets/styles/variables';
@import './../../../../assets/styles/mixins-media';
header{
    .navbar{

        @include sm {
            position: relative;
            width: 100%;
        }

        @include lg {
            position: fixed;
            overflow-y: auto;
            width: 23%;
        }
    }
    nav{

        @include lg {
            padding: 10px;
            float: left;
            height: 100%;
            position: absolute;
        }
        .nav-bar-btn-toggler{
            button{
                border: 0!important;
            }
            .fa-home{
                font-size: 2.5rem!important;
            }
        }
        .nav-content{
            .photo{
                .primary-text{
                    font-weight: bold;
                    text-align: center;
                    margin: 10px 0 10px;
                    color: white;
                }
                .nav-logo{
                    font-size: 100px;
					color: orange;
                }
                .socials{
                    img{
                        margin: 20px 0 5px 0;
                        width: 50px;
                        height: 50px;
                        padding: 5px;
                    }
                }
            }
            .content-separator{
                color: #ffffff;
                border: 1px solid;
                width: 100%;
            }
        }

    }
}
